<body>
    <div>
        <img src="assets/grssc_broomball1.jpg"/>
        <img src="assets/grssc_broomball2.jpg"/>
        <img src="assets/grssc_broomball3.jpg"/>
        <img src="assets/grssc_broomball4.jpg"/>
        <img src="assets/grssc_dodgeball1.jpg"/>
        <img src="assets/grssc_kickball1.jpg"/>
        <img src="assets/grssc_volleball1.jpg"/>
        <img src="assets/grssc_volleyball2.jpg"/>
        <img src="assets/grssc_quinn1.jpg"/>
        <img src="assets/grssc_log_cabin1.jpg"/>
    </div>
</body>