<body>
    <div class="title">
        <h1>Graphic Design</h1>
    </div>
    <div class="graphic">
        <select #catSelect (change)="SearchCategory(catSelect.value)">
            <option *ngFor="let cat of Category[0] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[1] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[2] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[3] | keyvalue">{{cat.value}}</option>
        </select>
        <div *ngIf="catName" class="graphic2">
            <h2>{{catName}}</h2>
            <section *ngFor="let img of Image | keyvalue">
                <section *ngIf="isObject(img.value)">
                    <section *ngFor="let imgKey1 of img.value | keyvalue">
                        <img *ngIf="imgKey1.key == 'Name' && imgKey1.value == catName" src="{{img.value.image}}"/>
                    </section>
                </section>
            </section>
        </div>
    </div>
</body>
