<body>
    <div class="title">
        <h1>Graphic Design</h1>
    </div>
    <!-- <div class="graphic">
        <select #catSelect (change)="SearchCategory(catSelect.value)">
            <option *ngFor="let cat of Category[0] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[1] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[2] | keyvalue">{{cat.value}}</option>
            <option *ngFor="let cat of Category[3] | keyvalue">{{cat.value}}</option>
        </select>
        <div *ngIf="catName" class="graphic2">
            <h2>{{catName}}</h2>
            <div class="graphic3">
                <section *ngFor="let img of Image | keyvalue">
                    <section *ngIf="isObject(img.value)">
                        <section *ngFor="let imgKey1 of img.value | keyvalue">
                            <img *ngIf="imgKey1.key == 'Name' && imgKey1.value == catName" src="{{img.value.image}}"/>
                        </section>
                    </section>
                </section>
    
            </div>
        </div>
    </div> -->

    <div class="graphic">
        <img src="assets/nit_2nd_round.jpg"/>
        <img src="assets/nit_final_score.jpg"/>
        <img class="unblur" src="assets/patroit_day.jpg"/>
        <img src="assets/pregame.jpg"/>
        <img src="assets/get_on_the_bus.jpg"/>
        <img class="unblur" src="assets/senior_day_soccer.png"/>
        <img src="assets/senior_day_volleyball.jpg"/>
        <img src="assets/udm_gameday.jpg"/>
        <img src="assets/winning_streak.jpg"/>
        <img src="assets/udm_flyer.jpg"/>
    </div>
</body>
