body {
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.graphic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    margin: 1rem 1rem 0 1rem;
    height: 13rem;
    box-shadow: 2px 2px black;
}

@media only screen and (min-width: 600px){

    body {
        height: 130vh;
    }

    img {
        height: 25rem;
    }

    .unblur {
        height: 17em;
    }
}