.body {
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.work_project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    height: 100%;
}

.ux_work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px){

    .work_project {
        display: flex;
        flex-direction: row;
        margin-bottom: 12em;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px){
    .work_project {
        margin-bottom: 33em;
        margin: 0 auto;
    }
}