<body>
    <div class="title">
        <h1>Contact</h1>
    </div>

    <div class="contact">
        <div>
            <a href="mailto:JOlson1530@hotmail.com" target="_top">
                <img class="email" src="assets/email.jpg"/>
            </a>
        </div>

        <div>
            <a href="tel:6165811261">
                <img class="phone" src="assets/phone.png"/>
            </a>
        </div>

        <div>
            <object class="resume" data="assets/jonathan_olson_resume.pdf#view=FitH"></object>
        </div>
    </div>
</body>
