img {
    width: 15rem;
    margin-bottom: 1em;
}

@media only screen and (min-width: 1024px){
    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 31rem;
        margin-bottom: 5em;
    }
}
