<body>
    <div class="project">
        <span>
            <h2>{{projects[index].title}}</h2>
            <h3>{{projects[index].sub_title}}</h3>
            <div class="project_type">
                <p>{{projects[index].desc}}</p>
                <div class="image">
                    <img src="{{projects[index].image}}">
                    <img src="{{projects[index].image2}}">
                    <img src="{{projects[index].image3}}">    
                </div>
            </div>
        </span>
    </div>
</body>