body {
    height: 100vh;
    border: 1px solid transparent;
}

nav {
    background: blue;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}   

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    margin: 0;
    padding: 1em;
    align-self: center;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: blue;
    margin: 1rem;
    position: relative;
    font-size: 18px;
}

a:hover {
    color: yellow;
}

.active {
    color: black;
}

mat-icon {
    color: #EEE;
    cursor: pointer;
}

mat-icon:hover {
    color: #AAA;
}

mat-sidenav-content {
    display: inline;
    flex: 1;
}

mat-sidenav {
    height: 26rem;
}

.menu-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.side-bar-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.side-bar-list a {
    color: #000080;
}

.sidenav {
    background: rgb(248, 248, 248);
    box-shadow: -12px 0px 16px #00000042;
}

h2 {
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

@media only screen and (min-width: 600px) {
    ul {
        display: flex;
        flex-direction: row;
    }

    a {
        color: white;
    }
}