<body>
  <nav>
    <h1 routerLink=''>Jonathan Olson</h1>
    <div class="closed" *ngIf="!(tablet | async).matches">
      <ul>
        <li><a routerLink='' routerLinkActive="active">Home</a></li>
        <li><a routerLink='/About' routerLinkActive="active">About</a></li>
        <li><a routerLink='/SoftwareProject' routerLinkActive="active">Software Project</a></li>
        <li><a routerLink='/GraphicDesign' routerLinkActive="active">Graphic Design</a></li>
        <li><a routerLink='/SocialMedia' routerLinkActive="active">Social Media</a></li>
        <li><a routerLink='/Photography' routerLinkActive="active">Photography</a></li>
        <li><a routerLink='/Contact' routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  
    <div *ngIf="(tablet | async).matches" class="menu-container">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </div>
  </nav>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode ="over" [(opened)]="opened" position='end' class="sidenav">
      <h2>Menu</h2>
      <ul>
        <li><a routerLink='' routerLinkActive="active" (click)="sidenav.close()">Home</a></li>
        <li><a routerLink='/About' routerLinkActive="active" (click)="sidenav.close()">About</a></li>
        <li><a routerLink='/SoftwareProject' routerLinkActive="active" (click)="sidenav.close()">Software Project</a></li>
        <li><a routerLink='/GraphicDesign' routerLinkActive="active" (click)="sidenav.close()">Graphic Design</a></li>
        <li><a routerLink='/SocialMedia' routerLinkActive="active" (click)="sidenav.close()">Social Media</a></li>
        <li><a routerLink='/Photography' routerLinkActive="active" (click)="sidenav.close()">Photography</a></li>
        <li><a routerLink='/Contact' routerLinkActive="active" (click)="sidenav.close()">Contact</a></li>
      </ul>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  
  <app-footer></app-footer>
</body>
