<body>

    <div class="container">
        <div class="home" data-aos="fade-up" data-aos-duration="2000">
            <img class="headshot" src="/assets/jonpic.jpg"/>
            <div class="aboutme">
                <h1>Jonathan Olson</h1>
                <h2>Front-End Developer | UX | Digital Marketer</h2>
                <div class="contact">
                    <a routerLink='/Contact' routerLinkActive="active">Contact Me</a>
                </div>
            </div>
        </div>

        <div class="relevant" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-offset="300">
            <div>
                <h1 class="title">Relevant Skills</h1>
            </div>

            <div class="skills">
                <div class="skillset">
                    <h3>Programming Languages</h3>
                    <ol>
                        <ul>HTML5</ul>
                        <ul>CSS3</ul>
                        <ul>JavaScript</ul>
                        <ul>Angular</ul>
                        <ul>Node.js</ul>
                        <ul>Postgres SQL</ul>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Programming Knowledge</h3>
                    <ol>
                        <ul>JSON</ul>
                        <ul>RESTful API</ul>
                        <ul>Git/GitHub</ul>
                        <ul>Agile</ul>
                        <ul>Scrum</ul>
                    </ol>
                </div>

                <div class="skillset">
                    <h3>UX Knowledge</h3>
                    <ol>
                        <ul>Wireframe Production</ul>
                        <ul>Responsive Design</ul>
                        <ul>Graphic Design</ul>
                        <ul>Sketch</ul>
                        <ul>User Research</ul>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Digital Marketing Knowledge</h3>
                    <ol>
                        <ul>Social Media Strategy</ul>
                        <ul>Social Media Analytic</ul>
                        <ul>Database Analytic</ul>
                        <ul>E-Mail Marketing</ul>
                        <ul>Graphic Design</ul>
                        <ul>Content Creation</ul>
                        <ul>Copy Writing</ul>
                        <ul>SEO</ul>
                        <ul>Advertising</ul>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Certifications</h3>
                    <ol>
                        <ul>Google Analytics for Beginner</ul>
                        <ul>Advanced Google Analytics</ul>
                        <ul>Becoming a User Experience</ul>
                    </ol>
                </div>
            </div>
        </div>

        <div class="about" data-aos="fade-right" data-aos-off-set="300" data-aos-easing="ease-in-sine">
            <h1 class="title">About Me</h1>
            <p>I am a Front-End Developer and UX Designer with a creative digital marketing background. I have been building my skills as a designer by assisting with the overhauling of the main athletic websites at two different universities by utilizing UX Design. I would be able to integrate both my skills as a digital marketer and designer to support the creation of a dynamic website that would focus on the ease of use of the website and the customers' overall needs.</p>
        </div>
        
    </div>

</body>
