<body>

    <div class="container">
        <div class="home" data-aos="fade-up" data-aos-duration="2000">
            <img class="headshot" src="/assets/jonpic.jpg"/>
            <div class="aboutme">
                <h1>Jonathan Olson</h1>
                <h2>Front-End Developer | UX | Digital Marketer</h2>
                <div class="contact">
                    <a routerLink='/Contact' routerLinkActive="active">Contact Me</a>
                </div>
            </div>
        </div>

        <div class="relevant" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-offset="300">
            <div>
                <h1 class="title">Relevant Skills</h1>
            </div>

            <div class="skills">
                <div class="skillset">
                    <h3>Programming Languages</h3>
                    <ol>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Angular</li>
                        <li>Node.js</li>
                        <li>Postgres SQL</li>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Programming Knowledge</h3>
                    <ol>
                        <li>JSON</li>
                        <li>RESTful API</li>
                        <li>Git/GitHub</li>
                        <li>Agile</li>
                        <li>Scrum</li>
                    </ol>
                </div>

                <div class="skillset">
                    <h3>UX Knowledge</h3>
                    <ol>
                        <li>Wireframe Production</li>
                        <li>Responsive Design</li>
                        <li>Graphic Design</li>
                        <li>Sketch</li>
                        <li>User Research</li>
                        <li>InVision</li>
                        <li>Web Accessibility</li>
                        <li>User Flow</li>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Digital Marketing Knowledge</h3>
                    <ol>
                        <li>Social Media Strategy</li>
                        <li>Social Media Analytic</li>
                        <li>Database Analytic</li>
                        <li>E-Mail Marketing</li>
                        <li>Graphic Design</li>
                        <li>Content Creation</li>
                        <li>Copy Writing</li>
                        <li>SEO</li>
                        <li>Advertising</li>
                    </ol>
                </div>
    
                <div class="skillset">
                    <h3>Certifications</h3>
                    <ol>
                        <li>Google Analytics for Beginner</li>
                        <li>Advanced Google Analytics</li>
                        <li>Becoming a User Experience</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="about" data-aos="fade-right" data-aos-off-set="300" data-aos-easing="ease-in-sine">
            <h1 class="title">About Me</h1>
            <p>I am a Front-End Developer and UX Professional with a creative digital marketing background. I have been building my skills as a designer by assisting with the overhauling of the main athletic websites at two different universities by utilizing UX Design. I would be able to integrate both my skills as a digital marketer and designer to support the creation of a dynamic website that would focus on the ease of use of the website and the customers' overall needs.</p>
        </div>
        
    </div>

</body>
