<body>
    <div>
        <div>
            <a routerLink="/About">About</a>
        </div>
    
        <div>
            <a routerLink="/SoftwareProject">Software Project</a>
        </div>
    
        <div>
            <a routerLink="/GraphicDesign">Graphic Design</a>
        </div>
    
        <div>
            <a routerLink="SocialMedia">Social Media</a>
        </div>
    
        <div>
            <a routerLink="Photography">Photography</a>
        </div>
    
        <div>
            <a routerLink="Contact">Contact</a>
        </div>    
    </div>
</body>
